@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Afacad Flux", sans-serif;
}

body{
    background: #F0F4F8;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #F0F4F8;
    padding: 30px 0;
    z-index: 999;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper .sidebar img{
    width: 100px;
    height: 100px;
    display: block;        /* Makes the image a block element */
    margin: 0 auto;  
}

.wrapper .sidebar h2{
    color: #181a1d;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.wrapper .sidebar h3{
    color: #181a1d;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
}

.wrapper .sidebar ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.wrapper .sidebar ul li a{
    color: #181a1d;
    display: block;
    padding: 15px 15px 15px 35px;
    transition: 0.3s;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
    transition: 0.1s;
}

.wrapper .sidebar ul li a.active {
    background-color: #7BB9FA;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper .sidebar ul li a.active .fas {
    color: #ffffff;
}


.wrapper .sidebar ul li:hover{
    background: #181a1d;
}

.wrapper .sidebar ul li:hover a{
    color: #ffffff;
}

.wrapper .body{
    width: 100%;
    margin-left: 250px;
}

.wrapper .body .header {
    padding: 20px;
    background: #7BB9FA;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    position: sticky; /* This makes the header sticky */
    top: 0;           /* Specifies the top position for the sticky element */
    z-index: 100;       /* Ensures the header appears above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow below the header */
}


.wrapper .body .header h3{
    margin: 0;
    color: white;
}

.wrapper .body .main_content{
    padding: 0px 30px 0px 30px;
}
.wrapper .body .main_content h1{
    font-size: 2.4rem;
    width: 80%;
}
.wrapper .body .main_content .content_wrapper{
    background: white;
    box-shadow: 0 0 10px 5px #CBD4DF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper .body .main_content .content_wrapper .heading{
    display: flex;
    justify-content: space-between; /* This will push h1 to the left and button to the right */
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.heading .right_button{
    padding: 10px 20px;
    width: 200px;
    background-color: #7BB9FA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;

    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Aligns text (fallback) */
}

.heading .right_button:hover {
    background-color: #5A9FE3;
}

.heading #addScheduleBtn {
    margin: 0px 10px 0px 10px;
    width: 250px;
}

.heading #multipleScheduleBtn {
    margin: 0px 10px 0px 10px;
    width: 250px;
}

.heading #generateScheduleBtn {
    margin: 0px 0px 0px 10px;
    width: 250px;
}

#nurseForm label {
    font-size: 10px;
}

#nurseForm #nurseSelect {
    width: 500px;
}

.right {
    float: right;
}

.right .search_bar {
    margin: 10px;
}

.right .search_bar label {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.search_bar input[type="text"] {
    padding: 3px;              /* Padding for the input field */
    width: 250px;              /* Set a fixed width */
    font-size: 1.3rem;           /* Font size for the input text */
    border-radius: 4px;       /* Rounded corners for the input */
    margin-left: 10px;         /* Space between label and input */
}

.search_bar input[type="text"]:focus {
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

#tablerecords{
	padding: 10px;
	box-shadow: 0 5px 10px #CBD4DF;
	width: 100%;
    background-color: white;
    text-align: left;
    overflow: hidden;
    border-collapse: collapse; /* Ensures that borders are merged for cleaner look */
}
#tablerecords thead{
	color: #181a1d;
    
    box-shadow: 0 5px 10px #CBD4DF;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#tablerecords thead tr th{
    padding: 1rem 2rem;
	text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1rem;
}
#tablerecords th, /* Add border to the table headers */
#tablerecords td { /* Add border to the table data cells */
    padding: 10px 0px;
}
#tablerecords tbody{
	font-size: 20px;
}

#tablerecords tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Light gray for odd rows */
}

#tablerecords tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* White for even rows */
}


#tablerecords tbody tr td{
	padding: 1rem 2rem;
}
#tablerecords tbody tr:hover{
    background-color: #5A9FE3;
	color: #ffffff;
	transition: 0.2s;
}

.leave-status-denied {
    border-radius: 5px;
    color: rgb(122, 28, 28);
    padding: 0.2rem 1rem;
    text-align: center;
    background-color: rgb(255, 125, 125);
}

.leave-status-approved {
    border-radius: 5px;
    color: rgb(20, 100, 20);
    padding: 0.2rem 1rem;
    text-align: center;
    background-color: rgb(118, 255, 118);
}

.leave-status-pending {
    border-radius: 5px;
    color: rgb(117, 95, 20);
    padding: 0.2rem 1rem;
    text-align: center;
    background-color: rgb(248, 222, 137);
}


.leave-date-and-time {
    margin: 20px 20px 0px 20px;
}

.add_form_wrapper{
    margin: 40px 100px 40px 100px;
    padding: 20px;
}
.add_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px; /* Space between left and right sections */
    margin-bottom: 20px;
}

.profile_image {
    height: 200px;
    width: 200px;
}
.form_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Space between the left and right form sections */
    width: 100%;
}

.add_form_left,
.add_form-right {
    width: 500px;
    display: flex;
    flex-direction: column; /* Align items in a column */
    flex: 1; /* Allow both sides to take up equal space */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}

.add_form input[type="text"],
.add_form input[type="number"],
.add_form input[type="email"],
.add_form input[type="tel"],
.add_form input[type="date"],
.add_form input[type="time"],
.add_form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #29ce7a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    width: 100%; /* Full width for the button */
    text-align: center;
}

.submit-btn:hover {
    background-color: #27b46b;
}

.delete-btn {
    padding: 10px 20px;
    background-color: #ff5b5a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    width: 100%; /* Full width for the button */
    text-align: center;
}

.delete-btn:hover {
    background-color: #e64949;
}



.content_layer1_wrapper {
    display: flex;        /* Display items in a row */
    align-items: center;     /* Center content vertically (if needed) */
    gap: 10px; /* Space between items */
    margin: auto;
}

.content_layer1_wrapper #nurses_report,
.content_layer1_wrapper #leaves_report,
.content_layer1_wrapper #vacant_report,
.content_layer1_wrapper #overworked_report {
    width: 270px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff; /* Light background */
    border: 1px solid #ddd; /* Border around the calendar */
    box-shadow: 0 0 10px 5px #CBD4DF;
}


















#login-wrapper{
	margin-top: 80px;
}
#login-box{
	background-color: white;
	margin: auto;
	padding: 30px 20px 20px 20px;
	width: 25%;
	border-radius: 20px;
	box-shadow: 0 0 10px 5px #CBD4DF;
}
#login-title{
	text-align: center;
	margin-bottom: 20px;
	border-radius: 20px;
}
#login-title h1{
    font-size: 60px;
}
#login-title h3{
    font-size: 30px;
}
#login-title h1, #login-title h3{
	color: #2E303A;
}
#login-main{
	text-align: center;
}
#login-main input[type="text"],
#login-main input[type="password"]{
	width: 250px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#loginbutton{
	margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100px;
}
#error_box{
	margin: auto;
	width:400px;
	text-align: center;
}
#error_notif{
	margin-top: 20px;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px 5px #CBD4DF;
}

#nurseForm {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center contents horizontally */
    gap: 10px; /* Optional: Adds space between elements */
}


#nurseForm label{
    font-size: 40px;
}

#nurseForm select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
}

/* Calendar container */
#calendar {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff; /* Light background */
    border: 1px solid #ddd; /* Border around the calendar */
    box-shadow: 0 0 10px 5px #CBD4DF;
}

.fc-button {
    background: #29ce7a !important;
    border: none !important;
    color: white !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

/* Remove hover styles */
.fc-button:hover {
    background: #0f9753 !important;
    color: white !important;
}

#calendar .fc-day-today {
    background-color: #40d4ee !important; /* Ensure it overrides */
    color: #000 !important; /* Ensure it overrides */
}


/* Remove default text styles */
.fc h2, .fc h3, .fc h4, .fc h5, .fc h6 {
    font-size: 40px !important;
    font-weight: bold !important;
    color: inherit !important;
}

/* Reset event styles */
.fc-event {
    background: #29ce7a !important;
    border: black solid 1px !important;
    color: white !important;
}

/* Target the header container */
#calendar .fc-head-container {
    font-size: 30px !important; /* Desired font size */
    font-weight: bold !important;
    color: #000000 !important;
}

/* Style day numbers */
#calendar .fc-day-top {
    font-size: 25px !important; /* Adjust to desired size */
    color: #000000 !important; /* Change to desired color */
    font-weight: bold; /* Optional: Change weight */
}









/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    position: absolute; /* Change to absolute */
    top: 60%; /* Adjusted from 50% to 60% */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center it */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    z-index: 1001; /* Ensure modal content is on top of the background */
}

.modal-content h2 {
    font-size: 30px;
}

.modal-content label {
    font-size: 30px;
}



.modal-content select,
.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="time"],
.modal-content input[type="tel"],
.modal-content input[type="number"],
.modal-content input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
}

.modal-content button[type="submit"] {
    padding: 10px 20px;
    background-color: #29ce7a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    width: 100%; /* Full width for the button */
    text-align: center;
}

.modal-content button[type="submit"]:hover {
    background-color: #27b46b;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#qr-reader {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
}





.custom-multiselect {
    position: relative;
    display: inline-block;
    width: 100%; /* Adjust width as needed */
}

.custom-multiselect input[type="text"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.dropdown-options {
    display: block; /* Initially hide the dropdown */
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    width: 100%;
}

.dropdown-options label {
    display: block;
    padding: 5px 10px;
}

.dropdown-options label:hover {
    background-color: #f0f0f0;
}







.charts-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

canvas {
    max-width: 50%;
    max-height: 100%;
}