@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Afacad Flux", sans-serif;
}

body{
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #181a1d;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a{
    color: white;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: #ffffff;
}

.wrapper .sidebar ul li:hover a{
    color: #000000;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #29ce7a;
    display: flex;
    align-items: center;
}

.wrapper .main_content .header h3{
    margin-right: 20px;
    background: #29ce7a;
    display: flex;
    align-items: center;
}